<section style="background-color: #eee;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 my-3">
        <div class="card text-black" [routerLink]="['/products', 'details']">
            <img
            src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
            class="card-img-top mx-auto d-block" style="width: 240px; height: 240px;"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title font-weight-bold">Tinh dầu gỗ đàn hương</h5>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Giá</span><span>200.000 VNĐ</span>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary w-100" style="border-radius: 20px;">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

