.card:hover {
  transition: .2s;
  transform: scale(1.03);
}

.container {
  margin-top: 25px;
}

.btn:active {
  border: none;
  box-shadow: none;
}

.btn, .form-control {
  box-shadow: none;
}
.card-body {
  padding: 5px 10px;
}
hr {
  margin: 0;
}

.mybadge {
  width: 35px;
  position: absolute;
  top: 10px;
  left: 175px;
}
