.bd-navbar {
  background-color: #764AF1;
}

.btn {
  color: #fff;
  border-color: #fff;
  box-shadow: none;
}

.btn:active {
  border: none;
  background-color: #fff;
  box-shadow: none;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.txt-search {
  width: 300px;
  border: none;
  box-shadow: none;
  text-overflow: ellipsis;
}

.dropdown-menu {
  right: 0;
}
.dropdown-menu a:hover {
  background-color: #4668f0;
  color: white;
}

