.bd-navbar {
  background-color: #563d7c;
}
.btn {
  color: #fff;
  border-color: #fff;
  border-radius: 20px;
  box-shadow: none;
}

.btn:active {
  border: none;
  background-color: #fff;
  box-shadow: none;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

.txt-search {
  width: 160px;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  text-overflow: ellipsis;
}

.txt-search:focus {
  transition: .4s;
  width: 300px;
  box-shadow: none;
}

