<div class="container-fluid" style="min-height: 565px;">
  <div class="row">
    <div class="col-8" style="padding-left: 20px;">
      <div *ngIf="cartService.items.length !== 0;else hideCart" class="container" style="min-height: 75vh;">
        <div *ngFor="let item of cartService.items" class="cart-item d-md-flex justify-content-between">
          <span class="remove-item" (click)="onRemoveItem(item.product.id)"><i class="fa fa-times"></i></span>
          <div class="px-2 my-1">
            <a class="cart-item-product">
              <div class="cart-item-product-thumb"><img [src]="item.product.imgUrl | image" alt="Product"></div>
              <div class="cart-item-product-info">
                <h4 class="cart-item-product-title" style="cursor: pointer;"
                  [routerLink]="['/products', item.product.id, 'details']">{{ item.product.name }}</h4>
                <span style="font-size: 14px;"><strong>Nhà sản xuất:</strong> {{ item.product.producer }}</span>
                <span style="font-size: 14px;"><strong>Chất lượng:</strong> {{ item.product.quality }}</span>
              </div>
            </a>
          </div>
          <div class="px-2 my-2 text-center">
            <div class="cart-item-label">Số lượng</div>
            <div style="display: inline-flex;">
              <input class="form-control quantity" #ipQuantity (ngModelChange)="onQuantityChange(item.product.id, $event, ipQuantity)"
                type="number" [(ngModel)]="item.quantity" min="1" [max]="item.product.quantity"
                style="width: 6rem; font-size: 13px;" />
              <span style="display: inline-block; font-size: 20px; padding: 0 5px">/</span>
              <input class="form-control quantity me-3" type="text" [value]="item.product.quantity"
                style="max-width: 4rem; font-size: 13px;" disabled />
            </div>
  
          </div>
          <div class="px-2 my-2 text-center">
            <div class="cart-item-label">Đơn giá</div>
            <span style="font-size: 15px;" class=""> {{ item.product.price | number: '4.0'}} VNĐ</span>
          </div><ng-template class="container" #hideCart>
            <div class="container" style="min-height: 75vh;">
              <div style="text-align: center;">
                <img style="width: 330px; height: 330px;" src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png" alt="">
                <h4>Bạn chưa có sản phẩm nào trong giỏ hàng:((</h4>
                <button class="btn btn-primary" [routerLink]="['/']">Tiếp tục mua sắm</button>
              </div>  
            </div>
          </ng-template>
          <div class="px-2 my-2 text-center">
            <div class="cart-item-label">Tổng</div>
            <span style="font-size: 15px;" class="">{{ item.quantity * item.product.price | number: '4.0'}}
              VNĐ</span>
          </div>
        </div>
  
        <!-- Coupon + Subtotal-->
        <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">
          <div class="w-75">
            <button class="btn btn-info w-25" [routerLink]="['/']">Tiếp tục mua sắm</button>
            <button class="btn btn-danger ml-3 w-25" (click)="onRemoveAllItems()">Xóa giỏ hàng</button>
          </div>
          <div class="py-2"><span class="d-inline-block align-middle text-sm font-weight-bold">Thành tiền: </span><span
              class="d-inline-block align-middle text-xl font-weight-medium ml-1"> {{ getTotalPrice() | number: '4.0'}}
              VNĐ</span></div>
        </div>
      </div>
      
    </div>
    <div class="col-4">
      <div class="card mt-4" style="width: 25rem;">
        <div class="card-body">
          <form [formGroup]="customerDetailsForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Họ và tên</label>
              <input type="text" formControlName="customerName" class="form-control" id="exampleInputEmail1" placeholder="Nhập họ tên">
              <ng-container *ngIf="!customerName?.valid && (customerName?.dirty ||customerName?.touched)">
                <span [hidden]="!customerName?.errors?.['required']"
                    style="color: red; font-size: small;">
                    Họ tên là bắt buộc
                </span>
            </ng-container>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Số điện thoại</label>
              <input type="text" formControlName="phoneNumber" class="form-control" id="exampleInputPassword1" placeholder="Nhập số điện thoại">
              <ng-container *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty ||phoneNumber?.touched)">
                <span [hidden]="!phoneNumber?.errors?.['required']"
                    style="color: red; font-size: small;">
                    SĐT là bắt buộc
                </span>
            </ng-container>
            </div>
            <div class="form-group">
              <label>Địa chỉ nhận hàng</label>
              <textarea class="form-control" formControlName="deliveryAddress" rows="3" placeholder="Nhập địa chỉ nhận hàng"></textarea>
              <ng-container *ngIf="!deliveryAddress?.valid && (deliveryAddress?.dirty ||deliveryAddress?.touched)">
                <span [hidden]="!deliveryAddress?.errors?.['required']"
                    style="color: red; font-size: small;">
                    Địa chỉ là bắt buộc
                </span>
            </ng-container>
            </div>
            <div class="form-group">
              <label>Ghi chú</label>
              <textarea class="form-control" formControlName="note" rows="3" placeholder="Nhập ghi chú"></textarea>
            </div>
            <button class="btn btn-success" [disabled]="customerDetailsForm.invalid || cartService.items.length === 0" (click)="onOrder()">Đặt hàng</button>
          </form>
        </div>
      </div>
  </div>
  </div>
  
  <ng-template class="container" #hideCart>
    <div class="container" style="min-height: 75vh;">
      <div style="text-align: center;">
        <img style="width: 330px; height: 330px;" src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png" alt="">
        <h4>Bạn chưa có sản phẩm nào trong giỏ hàng:((</h4>
        <button class="btn btn-primary" [routerLink]="['/']">Tiếp tục mua sắm</button>
      </div>  
    </div>
  </ng-template>
</div>