<div class="container">
  <!-- Alert-->
  <!--  <div class="alert alert-info alert-dismissible fade show text-center mb-30"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp;With this purchase you will earn <strong>2,549</strong> Reward Points.</div>-->
  <!-- Start Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img
          src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
          alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Số lượng</div>
      <div class="count-input">
        <input type="number" class="form-control form-quantity" value="1" min="1" max="10">
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Đơn giá</div>
      <span class="text-xl font-weight-medium">$910.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Thành tiền</div>
      <span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>
  <!-- End Cart Item-->
  <!-- Start Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img
          src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
          alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Số lượng</div>
      <div class="count-input">
        <input type="number" class="form-control form-quantity" value="1" min="1" max="10">
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Đơn giá</div>
      <span class="text-xl font-weight-medium">$910.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Thành tiền</div>
      <span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>
  <!-- End Cart Item-->
  <!-- Start Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img
          src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
          alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Số lượng</div>
      <div class="count-input">
        <input type="number" class="form-control form-quantity" value="1" min="1" max="10">
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Đơn giá</div>
      <span class="text-xl font-weight-medium">$910.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Thành tiền</div>
      <span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>
  <!-- End Cart Item-->
  <!-- Coupon + Subtotal-->
  <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">

    <div class="py-2"><span
      class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Tổng cộng:</span><span
      class="d-inline-block align-middle text-xl font-weight-medium">$188.50</span></div>
  </div>
  <!-- Buttons-->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3">
      <button class="btn btn-danger w-100">Xóa giỏ hàng</button>
    </div>
    <div class="col-sm-6 mb-3">
      <button class="btn btn-success w-100">Đặt hàng</button>
    </div>
  </div>


</div>
