<div class="event-schedule-area-two bg-color pad100" style="min-height: 600px;">
  <div class="container" style="margin-top: -20px;">
    <div class="d-flex mb-2">
      <div>
        <button type="button" class="btn btn-primary" (click)="onAddAccountClicked()" data-toggle="modal"
          data-target="#accountModal">
          <i class="fa-solid fa-plus"></i>
          Thêm tài khoản
        </button>
      </div>&nbsp;

      <div class="ml-auto"><input type="text" class="form-control" [formControl]="searchKeyword" placeholder="Nhập từ khóa tìm kiếm"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="text-center">
              <th>Mã tài khoản</th>
              <th>Ảnh đại diện</th>
              <th>Tên người dùng</th>
              <th>Trạng thái</th>
              <th>Email</th>
              <th>Ngày tạo</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let account of accountService.accounts | paginate: {itemsPerPage, currentPage}">
              <tr [ngClass]="account.status ? 'table-primary' : 'table-danger'">
                <td class="text-center align-middle"> {{ account.id}}</td>
                <td class="text-center align-middle"><img style="width: 65px; height: 65px; border-radius: 7px;"
                    [src]="account.imgUrl | image" class="card-img-top mx-auto d-block" alt="Anh minh hoa" />
                </td>
                <td class="text-center align-middle"> {{ account.userName}}</td>
                <td class="text-center align-middle">
                  <label *ngIf="account.userName !== tokenService.getCurrentUser().userName" class="switch">
                    <input type="checkbox" (change)="onStatusChange($event)" (click)="onRowClick(account.id)"
                      [value]="account.status" [checked]="account.status">
                    <span class="slider round"></span>
                  </label>
                  <span *ngIf="account.userName === tokenService.getCurrentUser().userName">
                    <i class="fa-solid fa-circle-check fa-2xl" style="color: blue;"></i>
                  </span>
                </td>
                <td class="text-center align-middle">{{ account.email }}</td>
                <td class="text-center align-middle"> {{ account.createAt | customDate}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="primary-btn text-center">
          <pagination-controls class="my-pagination" (pageChange)="currentPage = $event" previousLabel="Trước"
            nextLabel="Sau"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Editable Modal -->
<div class="modal fade" id="accountModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="accountForm">

          <div class="row">
            <div class="col-7">
              <div class="form-group">
                <label for="formGroupExampleInput">Quyền tài khoản <span style="color: red;">(*)</span></label>
                <select class="form-control form-control-sm" formControlName="privilege">
                  <option *ngFor="let r of accountRoles" [ngValue]="r.code">
                    {{r.value}}
                  </option>
                </select>
                <div *ngIf="!privilege?.valid && (privilege?.dirty ||privilege?.touched)">
                  <span [hidden]="!privilege?.errors?.['required']" style="color: red; font-size: small;">
                    Quyền tài khoản là bắt buộc
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Tên đăng nhập <span style="color: red;">(*)</span></label>
                <input type="text" formControlName="userName" class="form-control form-control-sm"
                  placeholder="Nhập tên tài khoản">
                <div *ngIf="!userName?.valid && (userName?.dirty || userName?.touched)">
                  <span [hidden]="!userName?.errors?.['required']" style="color: red; font-size: small;">
                    Tên đăng nhập là bắt buộc
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Mật khẩu <span style="color: red;">(*)</span></label>
                <input type="password" formControlName="password" class="form-control form-control-sm"
                  placeholder="Nhập mật khẩu">
                <div *ngIf="!password?.valid && (password?.dirty ||password?.touched)">
                  <span [hidden]="!password?.errors?.['required']" style="color: red; font-size: small;">
                    Mật khẩu là bắt buộc
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Email <span style="color: red;">(*)</span></label>
                <input type="email" formControlName="email" class="form-control form-control-sm"
                  placeholder="Nhập địa chỉ email">
                <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)">
                  <span [hidden]="!email?.errors?.['required']" style="color: red; font-size: small;">
                    Email là bắt buộc
                  </span>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="formGroupExampleInput">Trạng thái</label>
                <label class="switch ml-3">
                  <input type="checkbox" formControlName="status" [checked]="status">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="formGroupExampleInput">Hình ảnh <span style="color: red;">(*)</span></label>
                <div>
                  <img [src]="imageSrc" class="border border-success rounded" style="width: 170px; height: 170px;"
                    alt="file uploaded">
                </div>
                <input type="file" id="selectedFile" style="display: none;" (change)="onChooseFile($event)">
                <input type="button" value="Chọn file" class="mt-2"
                  onclick="document.getElementById('selectedFile').click();" />
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onAddAccount()"
          [disabled]="!accountForm.valid">Thêm</button>
      </div>
    </div>
  </div>
</div>