<div class="event-schedule-area-two bg-color" style="min-height: 600px;">
    <div class="container">
        <div class="d-flex mb-2">
            <div>
                <button type="button" class="btn btn-success" (click)="onAddButtonClicked()" data-toggle="modal"
                    data-target="#productModal">
                    <i class="fa-solid fa-plus"></i>
                    Thêm sản phẩm
                </button>
            </div>&nbsp;
            <div><button class="btn btn-warning">
                    <i class="fa-solid fa-file-excel"></i>
                    Xuất excel</button></div>
            <div class="ml-auto"><input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th scope="col">Mã sản phẩm</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Nhà sản xuất</th>
                            <th scope="col">Giá bán</th>
                            <th scope="col">Chất lượng</th>
                            <th scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            <td class="text-center align-middle">1</td>
                            <td class="text-center align-middle"><img style="width: 80px; height: 80px;"
                                    src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
                                    class="card-img-top mx-auto d-block" alt="Tinh dầu" /></td>
                            <td class="text-center align-middle">Tinh dầu đàn Hương</td>
                            <td class="text-center align-middle">Kim Anh</td>
                            <td class="text-center align-middle">200.000 VNĐ</td>
                            <td class="text-center align-middle">Loại 1</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-pen"></i>
                                    Cập nhật</button>&nbsp;
                                <button class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Xóa</button>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-center align-middle">1</td>
                            <td class="text-center align-middle"><img style="width: 80px; height: 80px;"
                                    src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
                                    class="card-img-top mx-auto d-block" alt="Tinh dầu" /></td>
                            <td class="text-center align-middle">Tinh dầu đàn Hương</td>
                            <td class="text-center align-middle">Kim Anh</td>
                            <td class="text-center align-middle">200.000 VNĐ</td>
                            <td class="text-center align-middle">Loại 1</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-pen"></i>
                                    Cập nhật</button>&nbsp;
                                <button class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Xóa</button>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-center align-middle">1</td>
                            <td class="text-center align-middle"><img style="width: 80px; height: 80px;"
                                    src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
                                    class="card-img-top mx-auto d-block" alt="Tinh dầu" /></td>
                            <td class="text-center align-middle">Tinh dầu đàn Hương</td>
                            <td class="text-center align-middle">Kim Anh</td>
                            <td class="text-center align-middle">200.000 VNĐ</td>
                            <td class="text-center align-middle">Loại 1</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-pen"></i>
                                    Cập nhật</button>&nbsp;
                                <button class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Xóa</button>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-center align-middle">1</td>
                            <td class="text-center align-middle"><img style="width: 80px; height: 80px;"
                                    src="https://tinhdaulachampa.net/upload/202204/PR0547_tinh-dau-go-dan-huong-sandalwood-nguyen-chat-lachampa.jpg"
                                    class="card-img-top mx-auto d-block" alt="Tinh dầu" /></td>
                            <td class="text-center align-middle">Tinh dầu đàn Hương</td>
                            <td class="text-center align-middle">Kim Anh</td>
                            <td class="text-center align-middle">200.000 VNĐ</td>
                            <td class="text-center align-middle">Loại 1</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-pen"></i>
                                    Cập nhật</button>&nbsp;
                                <button class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Xóa</button>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class="primary-btn text-center">
                    <a href="#" class="btn btn-danger">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" style="font-size: small;" id="productModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Danh mục <span style="color: red;">(*)</span></label>
                                <select class="form-control form-control-sm" formControlName="categoryId">
                                    <option [ngValue]="null" disabled>Chọn danh mục</option>
                                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Tên sản phẩm <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Nhập tên sản phẩm mới">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Giá bán <span style="color: red;">(*)</span></label>
                                <input type="number" class="form-control form-control-sm" placeholder="Nhập giá bán">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Số lượng <span style="color: red;">(*)</span></label>
                                <input type="number" class="form-control form-control-sm" placeholder="Nhập số lượng">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Mùi hương</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Nhập mùi hương">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Hình ảnh <span style="color: red;">(*)</span></label>
                                <div>
                                    <img [src]="imageSrc" style="width: 170px; height: 170px;" alt="file uploaded">
                                </div>
                                <input type="file" class="mt-2" (change)="onChooseFile($event)">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Chất lượng <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" class="form-control form-control-sm" placeholder="Nhập chất lượng">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Trọng lượng <span
                                        style="color: red;">(*)</span></label>
                                <input type="number" class="form-control form-control-sm"
                                    placeholder="Nhập trọng lượng">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Nhà sản xuất <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" class="form-control form-control-sm" placeholder="Nhập nhà sản xuất">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Mô tả <span
                                        style="color: red;">(*)</span></label>
                                <textarea placeholder="Nhập mô tả sản phẩm" class="form-control form-control-sm"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>