<div class="event-schedule-area-two bg-color">
    <div class="container">
        <div class="d-flex mb-2">
            <div>
                <button type="button" class="btn btn-success" (click)="onAddButtonClicked()" data-toggle="modal"
                    data-target="#productModal">
                    <i class="fa-solid fa-plus"></i>
                    Thêm sản phẩm
                </button>
            </div>&nbsp;
            <div><button class="btn btn-warning">
                    <i class="fa-solid fa-file-excel"></i>
                    Xuất excel</button></div>
            <div class="ml-auto"><input type="text" class="form-control" [formControl]="searchKeyword" placeholder="Nhập từ khóa tìm kiếm"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Mã sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Nhà sản xuất</th>
                            <th>Giá bán</th>
                            <th>Chất lượng</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info" *ngFor="let product of productService.products| paginate: {itemsPerPage, currentPage}">
                            <td class="text-center align-middle">{{ product.id }}</td>
                            <td class="text-center align-middle"><img
                                    style="width: 65px; height: 65px; border-radius: 7px;"
                                    [src]="product.imgUrl | image" class="card-img-top mx-auto d-block"
                                    alt="Anh minh hoa" />
                            </td>
                            <td class="text-center align-middle"> {{ product.name }} </td>
                            <td class="text-center align-middle">{{ product.producer }}</td>
                            <td class="text-center align-middle">{{ product.price }}</td>
                            <td class="text-center align-middle">{{ product.quality }}</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-primary" (click)="onUpdateBtnClicked(product.id)"
                                    data-toggle="tooltip" title="Chỉnh sửa" data-toggle="modal"
                                    data-target="#productModal">
                                    <i class="fa-solid fa-pen"></i>
                                </button>&nbsp;
                                <button class="btn btn-success" (click)="onDetailsBtnClicked(product.id)"
                                    data-toggle="tooltip" title="Chi tiết">
                                    <i class="fa-solid fa-eye"></i>
                                </button>&nbsp;
                                <button class="btn btn-danger" (click)="onDeleteBtnClicked(product.id)"
                                    data-toggle="tooltip" title="Xóa" data-toggle="modal" data-target="#confirmModal">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="primary-btn text-center">
                    <pagination-controls class="my-pagination" (pageChange)="currentPage = $event"
                        previousLabel="Trước" nextLabel="Sau"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Editable Modal -->
<div class="modal fade" style="font-size: small;" id="productModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" formGroupName="category">
                                <label for="formGroupExampleInput">Danh mục <span style="color: red;">(*)</span></label>
                                <select class="form-control form-control-sm" formControlName="id">
                                    <option [ngValue]="null" disabled>Chọn danh mục</option>
                                    <option *ngFor="let category of categories" [ngValue]="category.id">
                                        {{category.name}}
                                    </option>
                                </select>
                                <div *ngIf="!categoryId?.valid && (categoryId?.dirty ||categoryId?.touched)">
                                    <span [hidden]="!categoryId?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Tên danh mục là bắt buộc
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Tên sản phẩm <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="name" class="form-control form-control-sm"
                                    placeholder="Nhập tên sản phẩm mới">
                                <div *ngIf="!name?.valid && (name?.dirty ||name?.touched)">
                                    <span [hidden]="!name?.errors?.['required']" style="color: red; font-size: small;">
                                        Tên sản phẩm là bắt buộc
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Giá bán <span style="color: red;">(*)</span></label>
                                <input type="number" formControlName="price" class="form-control form-control-sm"
                                    placeholder="Nhập giá bán">
                                <div *ngIf="!price?.valid && (price?.dirty ||price?.touched)">
                                    <span [hidden]="!price?.errors?.['required']" style="color: red; font-size: small;">
                                        Giá bán là bắt buộc
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Số lượng <span style="color: red;">(*)</span></label>
                                <input type="number" formControlName="quantity" class="form-control form-control-sm"
                                    placeholder="Nhập số lượng">
                                <div *ngIf="!quantity?.valid && (quantity?.dirty ||quantity?.touched)">
                                    <span [hidden]="!quantity?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Số lượng là bắt buộc
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Mùi hương</label>
                                <input type="text" formControlName="fragrant" class="form-control form-control-sm"
                                    placeholder="Nhập mùi hương">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Hình ảnh <span style="color: red;">(*)</span></label>
                                <div>
                                    <img [src]="imageSrc" class="border border-success rounded"
                                        style="width: 170px; height: 170px;" alt="file uploaded">
                                </div>
                                <input type="file" id="selectedFile" style="display: none;"
                                    (change)="onChooseFile($event)">
                                <input type="button" value="Chọn file" class="mt-2"
                                    onclick="document.getElementById('selectedFile').click();" />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Chất lượng <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="quality" class="form-control form-control-sm"
                                    placeholder="Nhập chất lượng">
                                <div *ngIf="!quality?.valid && (quality?.dirty ||quality?.touched)">
                                    <span [hidden]="!quality?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Chất lượng là bắt buộc
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Trọng lượng <span
                                        style="color: red;">(*)</span></label>
                                <input type="number" formControlName="weight" class="form-control form-control-sm"
                                    placeholder="Nhập trọng lượng">
                                <div *ngIf="!weight?.valid && (weight?.dirty ||weight?.touched)">
                                    <span [hidden]="!weight?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Trọng lượng là bắt buộc
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Nhà sản xuất <span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="producer" class="form-control form-control-sm"
                                    placeholder="Nhập nhà sản xuất">
                                <div *ngIf="!producer?.valid && (producer?.dirty ||producer?.touched)">
                                    <span [hidden]="!producer?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Nhà sản xuất là bắt buộc
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Mô tả <span
                                        style="color: red;">(*)</span></label>
                                <textarea placeholder="Nhập mô tả sản phẩm" formControlName="description"
                                    class="form-control form-control-sm" rows="3"></textarea>
                                <div *ngIf="!description?.valid && (description?.dirty ||description?.touched)">
                                    <span [hidden]="!description?.errors?.['required']"
                                        style="color: red; font-size: small;">
                                        Mô tả là bắt buộc
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" *ngIf="modalMode === 'add'" data-dismiss="modal"
                    (click)="onAddProduct()" [disabled]="!productForm.valid">Thêm</button>
                <button type="button" class="btn btn-primary" *ngIf="modalMode === 'update'" data-dismiss="modal"
                    (click)="onUpdateProduct()" [disabled]="!productForm.valid">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Bạn có chắc chắc muốn xóa sản phẩm này?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDeleteProduct()">Đồng
                    ý</button>
            </div>
        </div>
    </div>
</div>