<div class="mx-5 my-3">
  <h4>HƯỚNG DẪN MUA HÀNG</h4>
  <p class="font-weight-bold">Hiện tại Phương thức đặt hàng trên website đang lỗi do
    không tự tính được phí vận chuyển, bởi vậy quý khách vui
    lòng LIÊN HỆ ĐẶT MUA HÀNG bằng 1 trong 5 phương thức sau:</p>

  <div>
    <img src="https://tinhdaulachampa.net/upload/img/NE0540_logo-hsv-ngang.png" alt="">
  </div>
  <p>
    - Đặt hàng qua điện thoại trong giờ làm việc ( 9h sáng -> 8h tối ):
    <span style="color: red;">0982.757.667 (HCM) hoặc 0962.878.808 (HN)</span>
  </p>
  <p>
    - Đặt hàng qua email ngoài giờ làm việc: quyentv1989@gmail.com
    ( Khi đặt hàng qua email khách hàng vui lòng ghi thông tin sau:
    Tên khách hàng, số điện thoại, địa chỉ giao hàng và
    mã số sản phẩm mà khách hàng muốn đặt).
  </p>
  <p>
    - Đến mua trực tiếp tại cửa hàng :
  </p>
  <p>
    <span class="font-weight-bold">TP Hồ Chí Minh</span> : 18/75E Trần Quang Diệu - P.14 - Quận 3
  </p>
  <p>
    <span class="font-weight-bold">TP Hà Nội : 55 ngõ 102 Hoàng Đạo Thành - Kim Giang - Q. Thanh Xuân </span> : 55 ngõ
    102 Hoàng Đạo Thành - Kim Giang - Q. Thanh Xuân
  </p>
  <p>- Đăt hàng qua Zalo : 0982.757.667 (HCM) hoặc zalo: 0962.878.808 ( Hà Nội)</p>

  <p>- Đăt hàng qua Facebook : <span class="font-weight-bold">https://www.facebook.com/tinhdauthiennhienHSV/</span></p>

  <p>
    CÁCH TỐT NHẤT ĐỂ ĐẶT MUA HÀNG HIỆN NAY LÀ GỌI ĐIỆN ĐẶT TRỰC TIẾP HOẶC CHAT ZALO ĐỂ ĐƯỢC BÁO GIÁ VẬN CHUYỂN VÀ THỜI
    GIAN GIAO HÀNG CHI TIÊT
  </p>

  <i>Xin chân thành cảm ơn quý khách hàng đã tin tưởng Hương Sắc Việt . Chúc quý khách 1 ngày bình an, may mắn và vui
    vẻ</i>
</div>