<div class="event-schedule-area-two bg-color" style="min-height: 570px;">
  <div class="container">
    <div class="d-flex mb-2">
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="text-center">
              <th>Mã sản phẩm</th>
              <th>Hình ảnh</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info" *ngFor="let product of products">
              <td class="text-center align-middle">{{ product.id }}</td>
              <td class="text-center align-middle"><img style="width: 65px; height: 65px; border-radius: 7px;"
                  [src]="product.imgUrl | image" class="card-img-top mx-auto d-block" alt="Anh minh hoa" />
              </td>
              <td class="text-center align-middle"> {{ product.name }} </td>
              <td class="text-center align-middle">{{ product.quantity }}</td>
              <td class="text-center align-middle">{{ product.price }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>