<div class="container px-4 mt-4" style="min-height: 600px;">
  <div class="row">
    <div class="col-xl-4">
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Ảnh đại diện</div>
        <div class="card-body text-center">
          <img style="width: 180px; height: 180px; border-radius: 50%;" [src]="imageSrc" alt="">
          <div class="small font-italic text-muted mb-4"></div>
          <input type="file" id="selectedFileProfile" style="display: none;" (change)="onChooseFile($event)">
          <input type="button" value="Chọn file" class="btn btn-primary mt-2"
            onclick="document.getElementById('selectedFileProfile').click();"/>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Chi tiết tài khoản</div>
        <div class="card-body">
          <form [formGroup]="profileForm">
            <div class="mb-3">
              <label class="mb-1">Họ và tên</label>
              <input class="form-control" formControlName="fullName" type="text" placeholder="Enter your username"
                value="username">
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="mb-1">Tên tài khoản</label>
                <input class="form-control" formControlName="userName" type="text" placeholder="Enter your first name"
                  value="Valerie">
              </div>
              <div class="col-md-6">
                <label class="mb-1">Số điện thoại</label>
                <input class="form-control" formControlName="phoneNumber" type="text" placeholder="Enter your last name"
                  value="Luna">
              </div>
            </div>

            <div class="mb-3">
              <label class="mb-1">Email</label>
              <input class="form-control" formControlName="email" type="email" placeholder="Enter your email address"
                value="name@example.com">
            </div>
            <div class="mb-3">
              <label class="mb-1">Địa chỉ</label>
              <input class="form-control" formControlName="address" type="email" placeholder="Enter your email address"
                value="name@example.com">
            </div>
            <button class="btn btn-primary" (click)="onChangeProfile()" type="button">Thay đổi</button>&nbsp;
            <button class="btn btn-danger" [routerLink]="['/']" type="button">Quay lại</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>