<ng-container *ngIf="product">
  <div class="container-fluid bg-light">
    <div class="row">
      <!-- Related products section-->
      <div class="col-md-3 mt-4">
        <div class="card ml-5">
          <div class="card-body">
            <h5 class="mb-2 text-center">Sản phẩm bán chạy</h5>
            <hr />
            <ng-container *ngFor="let p of hotProducts">
              <div class="d-flex justify-content-start hot-product" [routerLink]="['/products', p.id, 'details']"
                style="cursor: pointer; height: 57px;">
                <div class="d-flex flex-wrap align-items-center">
                  <img [src]="p.imgUrl | image" alt="" class="rounded d-block ml-1" style="width: 54px; height: 54px;">
                </div>
                <div class="ml-2 mt-2">
                  {{p.name}}
                </div>
              </div>
              <hr />
            </ng-container>

          </div>
        </div>
        <!--      </div>-->
      </div>
      <!-- End related products section-->
      <!-- Product details section-->
      <div class="col-md-9">
        <div class="container my-3">
          <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-5">
              <span class="mybadge badge badge-danger" *ngIf="productService.isHotProduct(product.id)">Hot</span>
              <img [src]="product.imgUrl | image" class="card-img-top"
                style="height: 400px; border: 1px solid gainsboro;" alt="Apple Computer" />
            </div>
            <div class="col-md-7">
              <h3 class="display-5 fw-bolder"> {{ product.name }}</h3>
              <div class="fs-5 mb-5">
                <span class="text-decoration-line-through"><b>Nhà sản xuất: </b>{{ product.producer}}</span><br>
                <span *ngIf="product.fragrant" class="text-decoration-line-through"><b>Mùi hương: </b>{{
                  product?.fragrant}}</span><br>
                <span class="text-decoration-line-through"><b>Số lượng: </b> {{ product.quantity}}</span><br>
                <span class="text-decoration-line-through"><b>Đã bán: </b> {{ product.sold}}</span><br>
                <span class="text-decoration-line-through"><b>Giá: </b> {{product.price | number: '4.0'}} VNĐ</span><br>
                <span class="text-decoration-line-through"><b>Trọng lượng: </b> {{ product.weight}} g</span>
                <br><br>
                <span><b>Mô tả chi tiết: </b></span>
                <p style="font-size: 18px">{{ product.description}}</p>
              </div>
              <div class="d-flex">
                <button class="btn btn-success" type="button" *ngIf="product.quantity !== 0"
                  (click)="onAddToCart(product, 1)">
                  <i class="fa-solid fa-cart-plus"></i>
                  Thêm vào giỏ hàng
                </button>&nbsp;

                <button class="btn btn-danger" type="button" [routerLink]="['/']">
                  <i class="fa-solid fa-rotate-left"></i>
                  Quay lại
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End product details section-->
    </div>

    <div class="row">
      <!-- Related items section-->
      <div class="container-fluid">
        <h5 class="mb-4 pl-5">Sản phẩm cùng loại</h5>
        <div class="row justify-content-center">
          <div *ngFor="let p of relatedProducts" class="col-12 col-md-2 col-lg-2 col-xl-2 my-3"
            style="padding: 0; margin: 0 10px;">
            <div class="card text-black" [routerLink]="['/products', p.id, 'details']">
              <img style="padding: 5px;" [src]="p.imgUrl | image" class="card-img-top mx-auto d-block"
                alt="Anh minh hoa" />
              <hr>
              <div class="card-body">
                <div class="text-center">
                  <p class="card-title"> {{ p.name }}</p>
                  <span><b> {{ p.price | number: '4.0'}} VNĐ</b></span>
                </div>
                <div class="d-flex justify-content-center my-1">
                  <button type="button" *ngIf="p.quantity !== 0" class="btn btn-outline-primary w-100" style="border-radius: 20px;"
                    (click)="onAddToCart(p, 1);$event.stopPropagation()"> <i class="fa-solid fa-cart-plus fa-xl"></i>
                  </button>
                  <h3><span *ngIf="p.quantity === 0" class="badge badge-danger">Hết hàng</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>